.destinations-container {
    padding: 40px;
}

.destinations-head {
    text-align: left;
}

.destinations-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 30px;
}

.card {
    min-width: 290px;
    height: 430px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}

.destination-info {
    color: white;
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    text-align: left;
    text-transform: uppercase;
    gap: 5px;
}

.destination-name {
    margin: 0;
}

.destination-description {
    margin: 0;
}

.destination-img {
    min-width: 290px;
    height: 430px;
    margin: auto;
    display: block;
    transition: 0.5s ease-in-out;
    transform: scale(1);
}

.destination-img:hover {
    filter: brightness(0.8);
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
}